@using InterimKantoor.ViewModels;
@model List<JobDetailsViewModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="text-center">Welkom op de vacaturesite voor werkwillige M/V </h1>
    <img src="images/Werkman!.jpg" class="center" />


</div>

<h2 class="text-center">Openstaande vacatures</h2>

@if(Model.Count==0){
    <h3>Er zijn helaas geen openstaande vacatures</h3>
}
else
{
    @foreach (var vacature in Model)
    {
        if (vacature.VrijePlaatsen != 0)
        {
            <div class="card border-danger m-2" style="width: 18rem; height: 23rem; float: left;">
                <div class="card-body bg-primary">
                    <h5 class="card-title" style="color: white;">@vacature.Omschrijving</h5>
                    <p class="card-text">@vacature.Locatie</p>
                    <p class="card-text">@vacature.StartDatum</p>
                    <p class="card-text">@vacature.EindDatum</p>
                    @if (@vacature.IsWerkschoenen)
                    {
                        <p>Werkschoenen: Vereist</p>
                    }
                    @if (@vacature.IsBadge)
                    {
                        <p>Badge: Vereist</p>
                    }
                    @if (@vacature.IsKleding)
                    {
                        <p>Werkkleding: Vereist</p>
                    }
                    <p>Beschikbare plaatsen: @vacature.VrijePlaatsen / @vacature.AantalPlaatsen</p>
            </div>
            <div class="card-footer bg-primary">
                    <a asp-action="Assign" asp-controller="Job" asp-route-id="@vacature.Id" class="btn btn-primary">Klant toewijzen</a>
            </div>
            
        </div>
        }
    }
}
