
@model InterimKantoor.ViewModels.JobIndexViewModel

@{
	ViewData["Title"] = "Vacature - Index";
}
<h2>Vacatures</h2>


	<p><a asp-action="Create" asp-route-id="" class="btn btn-primary">Maak nieuwe vacature aan</a></p>

	@foreach(var vacature in Model.Vacatures)
{
    <div class="card border-danger m-2" style="width: 18rem; height: 23rem; float: left;">
       <div class="card-body bg-primary">
            <h5 class="card-title" style="color: white;">@vacature.Omschrijving</h5>
            <p class="card-text">@vacature.Locatie</p>
			<p class="card-text">@vacature.StartDatum</p>
			<p class="card-text">@vacature.EindDatum</p>
            @if (@vacature.IsWerkschoenen)
            {
                <p>Werkschoenen: Vereist</p>
            }
            @if (@vacature.IsBadge)
            {
                <p>Badge: Vereist</p>
            }
            @if (@vacature.IsKleding)
            {
                <p>Werkkleding: Vereist</p>
            }
        </div>
        <div class="card-footer bg-primary">
           <a asp-action="Detail" asp-route-id="@vacature.Id" class="btn btn-light">Details</a>
           <a asp-action="Delete" asp-route-id="@vacature.Id" class="btn btn-light">Delete</a>

        </div>
    </div>
}


				
