@model HelloCore.ViewModels.BestellingEditViewModel

@{
    ViewBag.Title = "Edit Bestelling";
}
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Edit bestelling @Model.BestellingID van @Model.KlantNaam</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditBestelling">
                <input type="hidden" asp-for="@Model.BestellingID" />
                <input type="hidden" asp-for="@Model.KlantID" />
                <input type="hidden" asp-for="@Model.KlantNaam" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table class="table">
                    <thead>
                        <tr>
                        <td>
                            @Html.DisplayNameFor(v => v.Orderlijnen[0].ProductNaam)
                        </td>
                        <td>
                            @Html.DisplayNameFor(v => v.Orderlijnen[0].Aantal)
                        </td>
                        </tr>
                    </thead>
                     @for (var i = 0; i < Model.Orderlijnen.Count; i++)
                        {
                            <tbody>
                                <tr>
                                <td>
                                    <div class="form-group">
                                        @Html.HiddenFor(m => m.Orderlijnen[i].OrderLijnID)
                                        @Html.HiddenFor(m => m.Orderlijnen[i].ProductID)
                                        @Html.HiddenFor(m => m.Orderlijnen[i].ProductNaam)
                                        @Model.Orderlijnen[i].ProductNaam
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">

                                        <input type="number" asp-for="@Model.Orderlijnen[i].Aantal" class="form-control" />
                                        <span asp-validation-for="@Model.Orderlijnen[i].Aantal" class="text-danger"></span>
                                    </div>
                                </td>
                                </tr>
                            </tbody>
                        }
                    
                </table>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-controller="Bestelling" asp-action="Index" class="btn btn-primary">Terug</a>
                </div>
                        
            </form>


        </div>
    </div>
</div>


