@model HelloCore.ViewModels.BestellingDetailsViewModel
@{
    ViewBag.Title = "Details bestelling";
}

<div class="form-horizontal">
    <h4>Details bestelling @Model.BestellingID van @Model.Bestellingen[0].klant.Naam</h4>

    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(v => v.Bestellingen[0].orderlijnen[0].product.Naam)
            </td>
            <td>
                @Html.DisplayNameFor(v => v.Bestellingen[0].orderlijnen[0].Aantal)
            </td>
        </tr>
        @foreach (var item in Model.Bestellingen[0].orderlijnen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.product.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Aantal)
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <a asp-controller="Bestelling" asp-action="Index" class="btn btn-primary">Terug</a>
</div>
