@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model _09_00_HelloCore.ViewModels.KlantDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details @Model.Voornaam @Model.Naam</h1>

<p>
    Voornaam: @Model.Voornaam
</p>
<p>
    Naam: @Model.Naam
</p>
<p>
    Datum aangemaakt: @Model.AangemaaktDatum
</p>
<a asp-controller="Klant" asp-action="Index" class="btn btn-primary">Terug</a>

